.card {
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  flex-direction: unset;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GenreSlider */
.genreCard {
  min-width: 200px;
  img {
    width: 70px;
  }
  .card-body {
    padding: 0 15px;
  }
}

/* PlaylistSlider */
.playlistCard {
  flex-direction: column;
  min-width: 185px;
  max-width: 185px;
  img {
    width: 100%;
  }
  .card-body {
    margin: auto;
    text-align: center;
  }
}
