@import "./Variables.scss";

.musicControls {
  z-index: 100;
  background: $greyLighter;
  height: calc(100% - 420px);
  color: white;
  overflow-y: scroll;
}

.trackInfo {
  width: 60%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.trackInfo {
  background-color: transparent;

  color: #fff;
  &:hover {
    color: #fff;
  }
}
